<footer class="footer">
<div class="container">
<div style="font-size: 18px; color:white;">
        <a href="{{ site.twitter }}"<i class="ri-twitter-fill animate__animated animate__delay-2s animate__fadeInLeft"></i></a>
        <a href="{{ site.linkedin }}"<i class="ri-linkedin-fill animate__animated animate__delay-2s animate__fadeInLeft"></i></a>
        <a href="{{ site.github }}"<i class="ri-github-fill animate__animated animate__delay-2s animate__fadeInLeft"></i></a>
        <a href="{{ site.facebook }}"<i class="ri-facebook-fill animate__animated animate__delay-2s animate__fadeInLeft"></i></a>
        <a href="{{ site.youtube }}"<i class="ri-youtube-fill animate__animated animate__delay-2s animate__fadeInLeft"></i></a>
</div>
</div>
</footer>