
{% if site.vanta-theme == "wave" %}
<div class="animate__animated animate__fadeIn" id="VantaBackground"></div>

<div class="vanta-theme-wave animate__animated animate__delay-2s animate__duration-20s animate__fadeIn" id="slow">
    <div class="jumbotron mt-10">
    <h1 class="display-4">{{ site.title }}</h1>
    <p class="lead">{{ site.description }}</p>
    <a href="#" role="button">Learn more</a>
    </div>
</div>
<!--
<div class="vanta-theme-wave mt-20" id="slow">
    <div class="card-group">
        <div class="card animate__animated animate__delay-3s animate__duration-20s animate__fadeIn">
            <div class="card-body">
            <h5 class="card-title">Lorem ipsum</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="card animate__animated animate__delay-4s animate__duration-20s animate__fadeIn">
            <div class="card-body">
            <h5 class="card-title">Lorem ipsum</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div class="card animate__animated animate__delay-5s animate__duration-20s animate__fadeIn">
            <div class="card-body">
                <h5 class="card-title">Lorem ipsum</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
</div> -->
{% endif %}