
#VantaBackground {
    --animate-duration: 5s;
    position: absolute;
    display: block;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

#slow {
    --animate-duration: 2s;
}

#vanta-ui {
    background-color: transparent;

    a {
        color: black;
    }
}

.vanta-nav {
    
    .navbar {
        background-color: transparent;
    }

    a {
        color: black;
    }
}

.navbar-brand  {
    color: black;
}

.nav-item {
    color: black;
}

.footer {
    background-color: transparent;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.card {
    background-color: rgba(245, 245, 245, 1);
    opacity: .7;
}




.vanta-theme-wave {

    --animate-duration: 10s;

    .navbar {
        background-color: transparent;
    }

    a {
        color: white;
    }

    .jumbotron {
        background-color: transparent;

    }

    .display-4 {
        color: white;
    }

    .lead  {
        color: white;
    }

    .my-4 {
        color: white;
    }
    .navbar-brand  {
        color: white;
        font-family: Lobster;
    }
    
    .nav-item {
        color: white;
    }

    .card {
        background-color: transparent;
        //opacity: .2;
    }

    hr {
        background-color: white;
    }

    a,p,h1,h2,h3,h4,h5,h6 {
        color:white;
    }

    h1 {
        font-family: Lobster;
    }


    .footer {
        background-color: transparent;

        a,p,h1,h2,h3,h4,h5,h6 {
            color:white;

        }
    }
    
    
}


.trans--grow{
    -webkit-transition: width 1s ease-out; /* For Safari 3.1 to 6.0 */
    transition: width 1s  ease-out;
    width : 0%;
}

.grow{
    width:100%;
}


#dark {
    background-color: black;
}